header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.desktop {
    
    background: #fff;
    padding: 10px;
    box-shadow: 0px 30px 60px -10px rgba(0,0,0,0.1);

    .imgLogoViva {
        width: 50px;
        height: 50px;
    }
}